<div class="camera-show">

   <%= image_tag @camera.large_image_url, :class => "large-camera-image", :class => "full-pic" %>
    <p><strong><%= @camera.name %></strong></p>

    <ul class="camera-stats">
      <li>Megapixels: <%= @camera.megapixels %></li>
      <li>Memory type: <%= @camera.memory_type %></li>
      <li>Price: <%= @camera.price %></li>
    </ul>


  <% if @photos %>

    <% @photos.each do |photo| %>

    <div class="pic">
    <a href="/photos/<%= photo.id %>"><img src="<%= photo.photo_url %>" alt=""></a>
    <p class="credits"></p>

    </div>
    <% end %>


  <% end %>
</div>
