<div class="camera-show">


     <%= image_tag @camera.large_image_url, :class => "large-camera-image", :class => "full-pic" %>

    <p><strong><%= @camera.name %></strong></p>

    <ul class="camera-stats">
      <li>Megapixels: <%= @camera.megapixels %></li>
      <li>Memory type: <%= @camera.memory_type %></li>
      <li>Price: <%= @camera.price %></li>
      <li><%= link_to "Amazon", "http://www.amazon.com/exec/obidos/ASIN/#{@camera.asin}/camer0a5-20"  %></li>

    </ul>

      <!-- Add/Delete -->
    <% if current_user && !current_user.wishlist.cameras.include?(@camera) %>
      <%= form_tag "/add_to_list", :method => "post", remote: true do %>
      <%= hidden_field_tag :camera_id, @camera.id %>
      <%= hidden_field_tag :wishlist_id, current_user.id %>
      <%= submit_tag "Add to wishlist", :class =>"add-button", :id => "add-#{@camera.id}"%>
      <% end %>

    <% elsif current_user && current_user.wishlist.cameras.include?(@camera) %>

      <%= form_tag("/cameras/remove_from_list", method: "post", remote: true) do %>
          <%= hidden_field_tag :camera_id, @camera.id %>
          <%= hidden_field_tag :wishlist_id, current_user.wishlist.id %>
          <%= submit_tag "Remove from wishlist", :class => "delete-button", :class => "button tiny" %>
         <% end %>
  <% end %>


  <% if @photos %>

    <% @photos.each do |photo| %>

    <div class="pic">
    <a href="/photos/<%= photo.id %>"><img src="<%= photo.photo_url %>" alt=""></a>
    <p class="credits"></p>

    </div>
    <% end %>


  <% end %>
</div>
