
<div class="controls">
  <label>Filter:</label>
  <button class="filter" data-filter=".photo">All</button>
  <% @types.each do |type| %>
  <button class="filter" data-filter=".<%= type %>"><%= type.upcase %></button>
  <% end %>
</div>

<div id="comparison-tool">
<% @cameras.each do |camera| %>


  <div class="desire" id="<%= camera.id %>">

    <img src="<%= camera.large_image_url %>" alt="">
    <p><%= camera.name %></p>
    <p><%= camera.price %></p>
    <p>Megapixels: <%= camera.megapixels %></p>
    <p>LCD size: <%= camera.lcd_screen_size %> in.</p>
    <p><%= link_to "More info on this camera", camera_path(camera.id) %></p>
    <p>Memory type: <%= camera.memory_type %></p>
    <p><%= link_to "Amazon", "http://www.amazon.com/exec/obidos/ASIN/#{camera.asin}/camer0a5-20"  %></p>

      <div class="pics-container" >
        <% camera.photos.each do |photo| %>
          <a href="/photos/<%= photo.id %>" class="mix photo<%= photo.category %>"><img class="photo" src="<%= photo.photo_url %>" alt=""></a>
        <% end %>
      </div>

      <div id="deleteWord">
          <%= form_tag("/cameras/remove_from_list", method: "post", remote: true) do %>
            <%= hidden_field_tag :camera_id, camera.id %>
            <%= hidden_field_tag :wishlist_id, current_user.wishlist.id %>
            <%= submit_tag "Delete", :id => "deleteButton", :class => "button tiny" %>
           <% end %>
        </div>

  </div>

<% end %>

</div>


