<!DOCTYPE html>
<html>
<head>
  <title>Cameraphile</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="collapse navbar-collapse" id="nav">

  <%= link_to image_tag('logo.png'), root_path, :class => 'logo' %>

  <p class="navbar-text">
  <%= link_to "Camera Directory", cameras_path, :class => 'btn btn-danger navbar-btn' %>
  <% if user_signed_in? %>
    <%= link_to 'Your Camera Wishlist', "/wishlists/#{current_user.id}", :class => 'btn btn-danger navbar-btn' %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-danger navbar-btn'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-danger navbar-btn'  %>
    <%= link_to "Login", new_user_session_path, :class => 'btn btn-danger navbar-btn'  %>
  <% end %>

  </p>
  <% if notice %>
    <p class="alert"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  </div>

<div id="main">


<%= yield %>


</div>
</body>
</html>
